<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/countries"><i style="font-size: 35px" class="fas fa-map-marked-alt"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink="/countries"><i style="font-size: 35px" class="fas fa-globe-europe"></i> </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticate">
          <a class="nav-link" routerLinkActive='active' routerLink="/followings"><i style="font-size: 35px" class="fas fa-user-friends"></i> </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticate">
          <a class="nav-link" routerLinkActive='active' routerLink="/post-add"><i class="fas fa-marker" style="font-size: 35px"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive='active' routerLink="/explore"><i style="font-size: 35px" class="fas fa-hiking"></i></a>
        </li>
        <li class="nav-item" *ngIf="checkRole">
          <a class="nav-link" routerLinkActive='active' routerLink="/admin-panel"><i style="font-size: 35px" class="fas fa-edit"></i></a>
        </li>
        <li class="nav-item" style="margin: 10px 0 0 10px">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" required type="search" name="key" [(ngModel)]="key" placeholder="Ara"
              aria-label="Search">
            <a class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/search']"
              [queryParams]="{key: key}">Ara</a>
          </form>
        </li>
      </ul>
      <div *ngIf="!isAuthenticate" class="pull-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive='active' routerLink="/login">
              <i class="fas fa-sign-in-alt" style="font-size: 35px"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive='active' routerLink="/register">
              <i class="fas fa-user-plus" style="font-size: 35px"></i></a>
          </li>
        </ul>
      </div>
      <div *ngIf="isAuthenticate" class="pull-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive='active' (click)="fillCurrentId()" routerLink="/profile/{{accountID}}"><i style="font-size: 35px"
                class="fas fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()" routerLink="/countries"><i style="font-size: 35px"
                class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>