<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/countries">W.C</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/countries"><i style="font-size: 30px" class="fas fa-globe-europe"></i> </a>
        </li>

        <li class="nav-item" *ngIf="isAuthenticate">
          <a class="nav-link" routerLink="/followings"><i style="font-size: 30px" class="fas fa-users"></i></a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticate">
          <a class="nav-link" routerLink="/post-add"><i class="fas fa-marker" style="font-size: 30px"></i></a>
        </li>
      </ul>
      <div *ngIf="!isAuthenticate" class="pull-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Giriş Yap</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Üye Ol</a>
          </li>
        </ul>
      </div>
      <div *ngIf="isAuthenticate" class="pull-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile/{{currentAccountId}}"><i style="font-size: 30px"
                class="fas fa-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logOut()" routerLink="/countries"><i style="font-size: 30px"
                class="fas fa-sign-out-alt"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>