<div class="container">
  <div class="row" style="margin-top: 15px;">
    <div class="col-6">
      <img class="img-thumbnail" src="{{post.postPhotoPath}}" style="width: 100%; height:400px;" alt="{{post.title}}">
      <div *ngIf="isAuthenticate" class="card" style="margin-top: 5px">
        <div class="card-body">
          <form [formGroup]="reviewForm" (ngSubmit)="sendReview()">
            <div class="form-group">
              <p><strong>İsim: </strong> <input required name="name" formControlName="name" type="text"
                  class="form-control"></p>
            </div>
            <div class="form-group">
              <p><strong>Puan:</strong>
                <select class="form-control" name="rate" formControlName="rate" required>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select></p>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="reviewContent" formControlName="reviewContent"
                placeholder="Yorum Yaz"></textarea>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success form-control" [disabled]="!reviewForm.valid" value="Gönder">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <p><strong>Başlık:</strong> {{post.title}}</p>
          <p><strong>İçerik:</strong> {{post.description}}</p>
          <a class="btn btn-primary" routerLink="/profile/{{post.accountID}}">Paylaşan Hesabı İncele</a>
        </div>
      </div>
      <div *ngIf="reviews?.length >= 0" style="margin-top: 5px;">
        <div class="card" *ngFor="let review of reviews" style="margin-top: 2px">
          <div class="card-header bg-transparent">{{review.name}}</div>
          <div class="card-body">
            <p class="card-text">{{review.reviewContent}}</p>
          </div>
          <div class="card-footer bg-transparent">Puan : {{review.rate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>