<div class="container">
  <div class="row">
    <div class="col-12" style="margin-top: 5px;">
      <input type="text" [(ngModel)]="searchKey" class="form-control col-6" placeholder="Arama">
    </div>
    <div class="col-4" *ngFor="let c of countries | filterCountry : searchKey" style="margin-top: 15px">
      <div class="card" style="width:100%;height: 360px;">
        <img class="card-img-top" style="width: 100%;height:250px" src="{{c.flagPhotoPath}}" alt="{{c.countryName}}">
        <div class="card-body">
          <h5 class="card-title">{{c.countryName}}</h5>
          <a class="form-control btn btn-primary" routerLink="/country/{{c.countryID}}">İncele</a>
        </div>
      </div>
    </div>
  </div>
</div>