<form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
  <div class="form-group">
    <input class="form-control" type="password" formControlName="password" required placeholder="Yeni Şifre">
    <span class="help-block"
      *ngIf="passwordChangeForm.get('password').hasError('required') && passwordChangeForm.get('password').touched">
      Şifre zorunlu.
    </span>
    <span class="help-block"
      *ngIf="passwordChangeForm.get('password').hasError('maxlength') && passwordChangeForm.get('password').touched">
      20 karakterden fazla olamaz.
    </span>
    <span class="help-block"
      *ngIf="passwordChangeForm.get('password').hasError('minlength') && passwordChangeForm.get('password').touched">
      4 karakterden az olamaz.
    </span>
  </div>
  <div class="form-group">
    <input class="form-control" type="password" formControlName="confirmPassword" required
      placeholder="Yeni Şifre Tekrar">
    <span class="help-block" *ngIf="passwordChangeForm.errors?.matchingFields">
      Şifreler uyumlu değil!
    </span>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-success form-control" [disabled]="!passwordChangeForm.valid"
      value="Değişikliği Kaydet" />
  </div>
</form>