<div class="container">
  <div class="row justify-content-md-center">
    <div class="card col-6" style="margin-top: 5px;">
      <div class="card-header">
        <h3>Paylaşım Formu</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="postForm" (ngSubmit)="addPost()">
          <div class="form-group">
            <select class="form-control" (change)="getCities($event.target.value)">
              <option *ngFor="let country of countries" [value]="country.countryID">{{country.countryName}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" (change)="getFamousPlaces($event.target.value)">
              <option *ngFor="let city of cities" [value]="city.cityID">{{city.cityName}}</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control" name="famousPlaceID" formControlName="famousPlaceID">
              <option *ngFor="let place of famousPlaces" [value]="place.famousPlaceID">{{place.placeName}}</option>
            </select>
          </div>
          <div class="form-group" *ngIf="imageUrl">
            <img [src]="imageUrl" style="width: 100%;height: 200px;">
          </div>
          <div class="form-group">
            <input #fileInput style="display: none" type="file" ng2FileSelect [uploader]="uploader">
            <button class="btn btn-primary form-control" (click)="fileInput.click()"><i class="far fa-file-image"></i>
              Resim Seç</button>
            <div *ngFor="let item of uploader.queue">
              <div class="form-group">
                <button class="btn btn-primary form-control" (click)="item.upload()"><i class="far fa-file-image"></i>
                  Seçilen Resmi Yükle</button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <input name="title" formControlName="title" type="text" class="form-control" placeholder="Başlık">
          </div>
          <div class="form-group">
            <textarea class="form-control" style="height: 100px;" name="description" formControlName="description"
              placeholder="İçerik"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-success form-control" [disabled]="postForm.invalid" value="Paylaş">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>