<div class="container" style="margin-top: 15px;">
  <div class="card">
    <div class="row no-gutters">
      <div class="col-5">
        <img style="height: 100%" src="{{country.flagPhotoPath}}" class="card-img" alt="{{country.countryName}}">
      </div>
      <div class="col-7">
        <div class="card-header"><strong>{{country.countryName | uppercase}} </strong></div>
        <div class="card-body">
          <p class="card-text">
            <strong>Etnik Kökeni:</strong> {{country.ethnicIdentity}} <br>
            <strong>Dil:</strong> {{country.language}} <br>
            <strong>Başkent:</strong> {{country.capital}} <br>
            <strong>Yöneticisi:</strong> {{country.president}} <br>
            <strong>Nüfus:</strong> {{country.population}} <br>
            <strong>Para Birimi:</strong> {{country.currency}} <br>
            <strong>Kuruluş Yılı:</strong> {{country.foundedDate | date:'fullDate'}}
          </p>
          <a class="btn btn-primary" routerLink="/cities/{{country.countryID}}">Şehirleri İncele</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <strong class="pull-left">Özet Bilgi</strong>
    </div>
    <div class="card-body">
      {{country.summaryInfo}}
    </div>
  </div>
</div>