<div class="container" style="margin-top: 15px;">
  <div class="card">
    <div class="row no-gutters" style="height: 300px">
      <div class="col-5">
        <img style="height: 300px;width: 100%" src="{{city.cityPhotoPath}}" class="card-img" alt="{{city.cityName}}">
      </div>
      <div class="col-7">
        <div class="card-header"><strong>{{city.cityName | uppercase}} </strong></div>
        <div class="card-body">
          <p class="card-text">
            <strong>Nüfus:</strong> {{city.population}} <br>
            <strong>Özet Bilgi:</strong> {{city.description}}
          </p>
          <a class="btn btn-primary" routerLink="/famousPlaces/{{city.cityID}}">{{city.cityName}} Mekanlarını
            Görüntüle</a>
        </div>
      </div>
    </div>
  </div>
</div>