<div class="container">
  <div class="row" style="margin-top: 15px;">
    <div class="col-5">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{account.profilePhotoPath}}" class="card-img" alt="{{account.firstName}}" style="height: 150px">
            <p style="margin-left: 5px;">
              <strong><a style="color:black" routerLink="/relations/{{account.accountID}}"> {{account.followers}}
                  Takipçi </a></strong><br>
              <strong><a style="color:black" routerLink="/relations/{{account.accountID}}">{{account.followings}} Takip
                  Edilen </a></strong>
            </p>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{account.firstName}} {{account.lastName}}</h5>
              <p class="card-text">{{account.personelInfo}} </p>
              <p class="card-text"><small class="text-muted">{{account.memberDate | date:'fullDate'}} tarihinde
                  katıldı.</small></p>
              <div *ngIf="!isMain">
                <div class="form-group">
                  <input type="button" class="btn btn-warning form-control" (click)="changeToRelationStatus()"
                    value="{{followButton}}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div *ngIf="isMain">
        <app-setting></app-setting>
      </div>
    </div>
    <div class="col-4" *ngFor="let p of postsForProfile" style="margin-top: 10px">
      <div class="card" style="width:100%;height: 360px;">
        <img class="card-img-top" style="width: 100%;height:250px" src="{{p.postPhotoPath}}" alt="{{p.title}}">
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <a class="form-control btn btn-primary" type="submit" routerLink="/post/{{p.postID}}">İncele</a>
        </div>
      </div>
    </div>

  </div>
</div>