<div class="container">
  <div class="row" *ngIf="!famousPlace ; else placeDetail">
    <div class="col-4" *ngFor="let f of famousPlacesForCard" style="margin-top: 15px">
      <div class="card" style="width:100%;height: 360px;">
        <img class="card-img-top" style="width: 100%;height:250px" src="{{f.photoPath}}" alt="{{f.placeName}}">
        <div class="card-body">
          <h5 class="card-title">{{f.placeName}}</h5>
          <a href="#" class="form-control btn btn-primary" routerLink="/famousPlace/{{f.famousPlaceID}}">İncele</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #placeDetail>
    <ul>
      <li>
        {{famousPlace.placeName}}
      </li>
      <li>
        {{famousPlace.description}}
      </li>
    </ul>
    <a class="btn btn-primary" routerLink="/famousPlace/{{famousPlace.famousPlaceID}}" >{{famousPlace.placeName}}'da Yapılan Paylaşımlar</a>
  </ng-template>
</div>