<div class="container">
  <div class="row">
    <div *ngIf="famousPlacesForCard?.length <= 0 ; else cards" style="margin-top: 15px">
      <div class="alert alert-info">
        Henüz veri girişi yapılmamıştır.
      </div>
    </div>
    <ng-template #cards>
      <div class="col-4" *ngFor="let f of famousPlacesForCard" style="margin-top: 15px">
        <div class="card" style="width:100%;height: 360px;">
          <img class="card-img-top" style="width: 100%;height:250px" src="{{f.photoPath}}" alt="{{f.placeName}}">
          <div class="card-body">
            <h5 class="card-title">{{f.placeName}}</h5>
            <a href="#" class="form-control btn btn-primary" routerLink="/famousPlace/{{f.famousPlaceID}}">İncele</a>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>